In [1]:
import os

In [2]:
CWD = os.getcwd()

In [3]:
import pandas as pd
df = pd.read_csv(CWD[:-10] + "/data/processed/train/oidium-train.csv", skiprows = [0], encoding='latin-1')

In [9]:
df.head()
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
2543,26.12.2020,-2.05,0.460277777778,4.66,0,83.819444444444,0,0,0,0,0,0,0,26.12
2544,27.12.2020,-0.73,4.308888888889,8.76,0.8,61.854166666667,0,0,0,0,0,0,0,27.12
2545,28.12.2020,3.37,5.388055555556,8.18,9.9,76.847222222222,0,0,0,0,0,0,0,28.12
2546,29.12.2020,4.23,5.18375,6.48,0.7,76.131944444444,0,0,0,0,0,0,0,29.12
2547,30.12.2020,2.76,3.754930555556,5.26,0,83.236111111111,0,0,0,0,0,0,0,30.12

In [10]:
t = df.pop(5)

In [11]:
df

,0,1,2,3,4,6,7,8,9,10,11,12,13
0,Datum,Tmin,Tavg,Tmax,Niederschlag,OidiumIndex,Stadienspez. Anfaelligkeit,OidiumTageswert,BlattflÃ¤che,BlattflaecheImWachstum,Blattanzahl,BBCHStadium,DayMonth
1,01.01.2013,1.69,5.4125,7.99,4,0,0,0,0,0,0,0,01.01
2,02.01.2013,-0.3,3.900555555556,8.34,0.1,0,0,0,4,4,1,11,02.01
3,03.01.2013,-1.37,3.484166666667,6.81,0,0,0,0,4,4,1,11,03.01
4,04.01.2013,5.99,7.194791666667,8.33,0,0,0,0,4,4,1,11,04.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,26.12.2020,-2.05,0.460277777778,4.66,0,0,0,0,0,0,0,0,26.12
2544,27.12.2020,-0.73,4.308888888889,8.76,0.8,0,0,0,0,0,0,0,27.12
2545,28.12.2020,3.37,5.388055555556,8.18,9.9,0,0,0,0,0,0,0,28.12
2546,29.12.2020,4.23,5.18375,6.48,0.7,0,0,0,0,0,0,0,29.12
2547,30.12.2020,2.76,3.754930555556,5.26,0,0,0,0,0,0,0,0,30.12

In [8]:
import numpy as np

drop = []
for enum, i in enumerate(df['Niederschlag'][2:]):
  if (pd.isna(i)):
    drop.extend([enum, enum + 1])
print(drop)
print(len(drop))

KeyError: 'Niederschlag'

In [7]:
tmp = np.array(df)
# np.delete(tmp, drop, axis=0)

In [8]:
import numpy as np
df = pd.DataFrame(np.delete(tmp, 0, axis=1))

In [12]:
df.to_csv('oidium-train-final.csv', index=False)