In [79]:
import os

In [80]:
CWD = os.getcwd()

In [94]:
import pandas as pd
df = pd.read_csv(CWD + "/data/processed/train/oidium-train.csv", skiprows = [0], encoding='latin-1')

In [95]:
df.head()
df.tail()

                     time       Datum   Tmin  ... Blattanzahl BBCHStadium DayMonth
2558  26.12.2020 23:50:00  26.12.2020  -2.05  ...           0           0    26.12
2559  27.12.2020 23:50:00  27.12.2020  -0.73  ...           0           0    27.12
2560  28.12.2020 23:50:00  28.12.2020   3.37  ...           0           0    28.12
2561  29.12.2020 23:50:00  29.12.2020   4.23  ...           0           0    29.12
2562  30.12.2020 23:50:00  30.12.2020   2.76  ...           0           0    30.12

[5 rows x 15 columns]

In [96]:
import numpy as np

drop = []
for enum, i in enumerate(df['Niederschlag'][2:]):
  if (pd.isna(i)):
    drop.extend([enum, enum + 1])
print(drop)
print(len(drop))

[364, 365, 730, 731, 1096, 1097, 1462, 1463, 1828, 1829, 2194, 2195, 2247, 2248]
14

In [103]:
tmp = np.array(df)
np.delete(tmp, drop, axis=0)

array([['Zunzingen, 16.03.2021',
        'Data per day from: 01.01.2013 to 31.12.2013', nan, ..., nan,
        nan, nan],
       ['time', 'Datum', 'Tmin', ..., 'Blattanzahl', 'BBCHStadium',
        'DayMonth'],
       ['01.01.2013 23:50:00', '01.01.2013', '1.69', ..., '0', '0',
        '01.01'],
       ...,
       ['28.12.2020 23:50:00', '28.12.2020', '3.37', ..., '0', '0',
        '28.12'],
       ['29.12.2020 23:50:00', '29.12.2020', '4.23', ..., '0', '0',
        '29.12'],
       ['30.12.2020 23:50:00', '30.12.2020', '2.76', ..., '0', '0',
        '30.12']], dtype=object)

In [106]:
df = pd.DataFrame(np.delete(tmp, drop, axis=0))

In [107]:
df.to_csv('oidium-train.csv', index=False)